html {
  scroll-behavior: smooth;
  }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
}

body {
  font: 400 15px/24px Arial, Helvetica, sans-serif;
  color: #4C4C4C;
}

.overflow {
 overflow: hidden;
}

.shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200vw;
  width: calc(100vw - 20rem);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transition: ease-in-out 1s;
}

.shadow-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 20rem);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transition: ease-in-out 1s;
}

.container {
  max-width: 93.75%;
  margin: 0 auto;
  padding: 5rem 0 6.25rem 0;
}

.h3 {
  font: 400 35px/45.5px Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.button {
  padding: 0.9375rem 2.8125rem;
  border-radius: 6.25rem;
  font: 400 17px/22.1px Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.06em;
  color: #292929;
  background: none;
}

.button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

  .nav-bar {
    display: flex;
    justify-content: space-between;
    width: 93.75vw;
    position: absolute;
    z-index: 2;
    top: 1.875rem;
    left: 3.125%;
  }

    .logo {
      display: flex;
      flex-direction: column;
     }

        .logo-title {
          font: 400 32px/35.2px Georgia, 'Times New Roman', Times, serif;
          color: #F1CDB3;
          letter-spacing: 0.06em;
        }

        .logo-subtitle {
          font-size: 13px;
          line-height: 14.95px;
          letter-spacing: 0.1em;
          padding: 0.625rem 0.0625rem 0 0.25rem;
          color: #FFFFFF;
        }

     .nav {
      cursor: pointer;
      display: flex;
      list-style: none;
      justify-content: space-between;
      gap: 2.22rem;
      align-items: center;
     }
       
     .burger {
      display: none;
     }

       .nav-link {
        text-decoration: none;
        color: #CDCDCD;
       }

       .nav-link:hover {
        color: #FAFAFA;
       }

       .nav-link-active {
        padding-bottom: 0.15rem;
        border-bottom: 0.1817rem solid #F1CDB3;
        color: #FAFAFA;
       }

   .start-screen-section {
     background-image: url(./assets/background.jpg), radial-gradient(#211F20, #5B483A 100%, #262425 100%);
     width: 100vw;
     background-repeat: round;
   }
   
   .start-screen {
    display: flex;
    justify-content: space-between;
    padding: clamp(150px, 14.06vw, 300px) 0 0 0;
   }
     
     .start-screen-text {
      display: flex;
      flex-direction: column;
      padding-top: 12.73475vw;
      gap: 2.625rem;
     }
    
      .start-screen-h2 {
        font: 400 44px/57.2px Georgia, 'Times New Roman', Times, serif;
        color: #FFFFFF;
      }
    
     .start-screen-p {
      max-width: 28.75rem;
      color: #CDCDCD;
     }

     .start-screen-button {
      align-self: self-start;
      background: #F1CDB3;
      border: 0;
     }

   .about {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content:center;
    gap: 7.65rem;
   }
     
     .about-h3 {
      text-align: start;
     }

     .about-text {
      display: flex;
      flex-direction: column;
      max-width: 26.875rem;
      padding-top: 0.875rem;
      gap: 1.5625rem;
     }
  
   .friends-section{
     background-color: #F6F6F6;
   }   

   .friends {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
   }

     .friends-block {
      display: flex;
      justify-content: center;
      gap: 4.140625vw;
     }
     
       .friends-round-button {
        align-self: center;
        padding: 1.5rem;
        border: 2px solid #F1CDB3;
        background-repeat: no-repeat;
        background-position: center; 
        background-image: url(./assets/left-arrow.png);
       }

       .right-arrow {
        background-image: url(./assets/right-arrow.png);
       }
     
       .friends-block-pictures {
        display: flex;
        justify-content: space-between;
        gap: 7.03125vw;
       }

         .friend-card {
          display: flex;
          flex-direction: column;
          gap: 1.875rem;
          background-color: #FAFAFA;
          padding-bottom: 1.875rem;
          border-radius: 9px;
         }

         .friend-card:hover {
          background: #FFFFFF;
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
         }

         .friend-card-text {
          font: 400 20px/22.72px Georgia, 'Times New Roman', Times, serif;
          letter-spacing: 0.06em;
          text-align: center;
          color: #545454;
         }

         .friend-card-button {
          border:  2px solid #F1CDB3;
          padding: 0.8125rem 2.6875rem;
          align-self: center;
         }

       .friend-button {
        align-self: center;
        background-color: #F1CDB3;
        border: none;
       }

    .help {
      display: flex;
      flex-direction: column;
      gap: 3.75rem;
    }
      
     .help-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 7.4375rem;
      row-gap: 3.25rem;
      padding: 0 7.25%;
     }

       .help-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.875rem;
       }

       .help-picture {
        align-self: center;
       }

       .help-item-h4 {
        font: 400 20px/23px Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 0.06em;
        color: #545454;
        text-align: center;
       }
       
   .donation {
    background-color: #F6F6F6;
   }

     .donation-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap-reverse;
      align-items: center;
      padding: 5rem 0 6.25rem 0; 
      gap: 1.875rem
     }

       .donation-info {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
       }

         .donation-h3 {
          text-align: start;
         }
         
         .donation-card {
          display: flex;
          border: none;
          max-width: 21.875rem;
          background-color: #F1CDB3;
          padding: 10px 15px;
          border-radius: 9px;
          gap: 15px;
         }

         .donation-h5 {
          font: 400 15px/16.5px Georgia, 'Times New Roman', Times, serif;
          letter-spacing: 0.06em;
          color: #545454;
         }

           .donation-card-number {
            font: 400 20px/23px Georgia, 'Times New Roman', Times, serif;
            letter-spacing: 0.06em;
            color: #545454;
           }

         .donation-p {
          font: italic 12px/18px Arial, Helvetica, sans-serif;
          color: #B2B2B2;
          width: 23.75rem;
         }

  .contacts {
    background: url(./assets/background.jpg), radial-gradient(#211F20, #513D2F 100%, #1A1A1C 100%);
    width: 100vw;
    background-repeat: round;
  }

    .contacts-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2.5rem 0 0 0;
    }

      .contacts-block {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding-top: 1rem;
      }

      .central-block{
        gap: 2.0625rem;
      }

        .contacts-info {
          display: flex;
          align-items: center;
          gap: 1.25rem;
        }

        .contacts-h3 {
          color: #FFFFFF;
          text-align: start;
          max-width: 17.4375rem;
        }

        .contacts-link{
          text-decoration: none;
        }

        .contacts-h4 {
          font: 400 20px/23px Georgia, 'Times New Roman', Times, serif;
          letter-spacing: 0.06em;
          color: #F1CDB3;
        }

 @media(max-width: 1200px){

  .nav-bar {
    width: 92.1875%;
    left: 3.90625%;
  }

  .start-screen {
    flex-direction: column;
    align-items: center;
    gap: 6.25rem;
   }

   .img-puppy {
    max-width: 35.5625rem;
    align-self: flex-end;
   }

   .start-screen-text {
    padding-top: 0;
   }

   .start-screen-button {
    align-self: center;
   }

  .about {
    gap: 4.9rem;
   }

     .about-text {
      padding-top: 0;
     }

   .friends-block {
     gap: 0.75rem;
   }
       
    .friends-block-pictures {
      gap: 5.20833vw;
    }
       
     .friend-card:last-child{
       display: none;
      }

      .help {
        gap: 3.65rem;
      }

     .help-block {
       gap: 3.75rem;
       row-gap: 3.4375rem;
       padding: 0;
      }
  
         .help-item {
          width: 10.625rem;
         }

    .donation-content {
          gap: 3.75rem
         }

    .contacts-content {
          justify-content: center;
          padding: 1.875rem 4px 0 0;
          column-gap: 3.75rem;
          row-gap: 4.0625rem;
     }
    
          .contacts-block {
            gap: 2.5rem;
            padding-top: 0;
          }
    
          .central-block{
            gap: 2.0625rem;
          }
   }

@media(max-width: 767px){

  .container {
    padding: 2.625rem 0;
  }

    .nav-bar {
      width: 87.5vw;
      position: absolute;
      z-index: 2;
      left: 6.25%;
    }

    .nav {
      display: flex;
      position: absolute;
      z-index: 9;
      width: 20rem;
      min-height: 100vh;
      padding: 0;
      top: -1.875rem;
      right: -200vw;
      background-color: #292929;
      flex-direction: column;
      justify-content: center;
      gap: 2.5rem;
      transition: ease-in-out 1s;
    }

    .nav-active {
      right: -6.25vw;
    }

    .nav-link {
      font: 400 32px/51.2px Arial;
     }

     .burger {
      z-index: 99;
      display: flex;
      cursor: pointer;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      transition: ease-in-out 1s;
     }

     .burger-active {
      transform: rotate(90deg);
     }

     .burger-line {
      width: 1.875rem;
      border-top: 0.125rem solid #F1CDB3;
     }

     .start-screen {
      padding: 150px 0 0 0;
      gap: 6.5625rem;
     }

       .h3-mobile {
         font: 400 25px/32.5px Georgia, 'Times New Roman', Times, serif;
         text-align: center;
       }

       .start-screen-h2{
        letter-spacing: 0.06em;
       }
     
      .start-screen-p {
        text-align: center;
      }
 
      .start-screen-button {
       align-self: center;
      }
     
      .img-puppy {
        max-width: 16.25rem;
        align-self: flex-end;
       }

       .about {
        gap: 2.625rem;
       }

       .about-text {
        text-align: justify;
        padding: 0 15px;
        gap: 1.465rem;
       }
       
       .about-pets-img {
        max-width: 81.25vw;
       }

    .friends{
     gap: 2.625rem;
    }

       .friends-block {
        gap: 0.75rem;
        column-gap: clamp(0, 18.22916vw, 53px);
        row-gap: 1.2rem;
      }
               
        .friend-card:nth-child(2){
          display: none;
         }

    .help {
      gap: 2.625rem;
    }
  
       .help-block {
        gap: 1.875rem;
        justify-content: start;
         padding: 0 5px;
        }
    
           .help-item {
            width: 40.625vw;
            gap: 1.25rem;
           }

           .help-picture {
            max-width: 15.625vw;
           }

           .help-item-h4 {
            font: 400 15px/16.5px Georgia, 'Times New Roman', Times, serif;
            letter-spacing: 0.06em;
           }

      .donation-content {
        gap: 2.625rem
      }
           
        .donation-h5{
          line-height: 24px;
          text-align: center;
          letter-spacing: 0;
        }

        .donation-card {
          align-self: center;
         }
         
         .donation-card-number{
          font: 400 15px/16.5px Georgia, 'Times New Roman', Times, serif;
         }

         .donation-p {
          text-align: justify;
          max-width: 87.81vw;
         }

         .donation-dog{
          max-width: 81.25vw;
         }

    .contacts-content{
      padding: 1.875rem 0 0 0;
      gap: 2.5rem;
    }

     .contacts-info{
      align-self: center;
     }

     .contacts-h3{
      max-width: 84.375vw;
     }

     .central-block{
      align-items: center;
      gap: 2.4rem;
    }

    .footer-puppy{
      max-width: 81.25vw;
    }
  }

  @media(max-width: 425px){
       .friends-block-pictures {
         order: -1;
       }

       .friends-block {
        gap: 0.75rem;
        flex-wrap: wrap;
        column-gap: 5rem;
        row-gap: 1.2rem;
      }
    
      .contacts-info-last-address{
        align-self: flex-start;
       }
  }